<nav class="navbar">
  <div class="container navbar-container">

    <% link_to "index.html" do %>
      <%= image_tag "logo.svg", class: "navbar-logo" %>
    <% end %>

    <form action="" class="navbar-search">
      <input type="text" class="navbar-search-input hidden-xs" placeholder="Search for great content">
      <button type="submit" class="navbar-search-btn hidden-xs">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="navbar-item">
      <%= link_to "Participate", "#", class: "navbar-button btn btn-default" %>
    </div>
    
    <%= link_to "Team", "/contact.html", class: "navbar-item navbar-link" %>

    <a href="" class="navbar-item navbar-link">
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-blue-light">3</div>
      </div>
    </a>

    <div class="navbar-item">
      <div class="dropdown">
        <img src="https://pbs.twimg.com/profile_images/560495631786311683/39PQOCUa.jpeg" alt="" class="avatar dropdown-toggle" id="navbar-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu" aria-labelledby="navbar-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>

      </div>
    </div>

  </div>
</nav>