---
title: Season 5 episodes
---


<div id="episodes" class="container padded">
<h2 class="text-center division-title">Season 5 episodes</h2>
  <div class="row">
    <% data.episodes.each do |episode| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= episode.image %>)">
          <%= link_to "", "#", class: "card-link"%>
          <span class="card-shadow"></span>
          <span class="card-title"><p><%= episode.number %></p></span>
          <span class="card-content"><h2><%= episode.title %></h2></span>
        </div>
      </div>
    <% end %>
  </div>
</div>